URL_SALESFORCE_CPU_LARGE=
URL_FLORANCE_2_LARGE=
URL_GIT_LARGE=

BATCH_SIZE=5
BATCH_MAX=200

FASTAPI_URL=
REDIS_HOST=t
REDIS_PORT=
REDIS_URL=

POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
ALGORITHM=
SECRET_KEY=